<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>VuFindTest\View\Helper\Root\OpenUrlTest | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/doctum.css">
        <link rel="stylesheet" type="text/css" href="../../../../fonts/doctum-font.css">
        <script src="../../../../js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="../../../../doctum.js"></script>
        <script async defer src="../../../../js/bootstrap.min.js"></script>
        <script async defer src="../../../../js/autocomplete.min.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    </head>

    <body id="class" data-name="class:VuFindTest_View_Helper_Root_OpenUrlTest" data-root-path="../../../../" data-search-index-url="../../../../doctum-search.json">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <div class="search-bar hidden" id="search-progress-bar-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" id="search-progress-bar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form id="search-form" action="../../../../search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   id="doctum-search-auto-complete"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search"
                   spellcheck="false"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off">
            <div class="auto-complete-results" id="auto-complete-results"></div>
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                    <li><a href="../../../../namespaces.html">Namespaces</a></li>
                    <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../../../VuFindTest.html">VuFindTest</a></li><li class="backslash">\</li><li><a href="../../../../VuFindTest/View.html">View</a></li><li class="backslash">\</li><li><a href="../../../../VuFindTest/View/Helper.html">Helper</a></li><li class="backslash">\</li><li><a href="../../../../VuFindTest/View/Helper/Root.html">Root</a></li><li class="backslash">\</li><li>OpenUrlTest</li>
            </ol>
        </div>
                <div id="page-content">
    <div class="page-header">
        <h1>OpenUrlTest    
            </h1>
    </div>

    
    <p>        class
    <strong>OpenUrlTest</strong>        extends <abbr title="PHPUnit\Framework\TestCase">TestCase</abbr>
</p>

                <p>
                                                <span class="label label-default">VuFind</span>
                                    </p>
    
        
    
        

            <div class="description">
            <p><p>OpenUrl Test Class</p></p>                    </div>
            
                <h2>Traits</h2>

        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../../VuFindTest/Feature/FixtureTrait.html"><abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a>    </div>
                <div class="col-md-6"><p>Trait adding functionality for loading fixtures.</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../../VuFindTest/Feature/ViewTrait.html"><abbr title="VuFindTest\Feature\ViewTrait">ViewTrait</abbr></a>    </div>
                <div class="col-md-6"><p>Trait for tests involving Laminas Views.</p></div>
            </div>
            </div>
    
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_rulesConfig">
                                        protected                                        array
                                                                                
                                    </td>
                <td>$rulesConfig</td>
                <td class="last"><p>Configuration array providing basic settings for testing OpenUrlRules</p></td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getFixtureDir">getFixtureDir</a>(string $module = &#039;VuFind&#039;)
        
                                            <p><p>Get the base directory containing fixtures.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixtureDir">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getFixturePath">getFixturePath</a>(string $filename, string $module = &#039;VuFind&#039;)
        
                                            <p><p>Resolve fixture path.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixturePath">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getFixture">getFixture</a>(string $filename, string $module = &#039;VuFind&#039;)
        
                                            <p><p>Load a fixture file.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixture">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getJsonFixture">getJsonFixture</a>(string $filename, string $module = &#039;VuFind&#039;)
        
                                            <p><p>Load a JSON fixture from file (using associative array return type).</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getJsonFixture">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Laminas\View\Renderer\PhpRenderer">PhpRenderer</abbr>
                </div>
                <div class="col-md-8">
                    <a href="#method_getPhpRenderer">getPhpRenderer</a>(array $plugins = [], string $theme = &#039;bootstrap3&#039;)
        
                                            <p><p>Get a working renderer.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/ViewTrait.html#method_getPhpRenderer">
<abbr title="VuFindTest\Feature\ViewTrait">ViewTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getPathForTheme">getPathForTheme</a>(string $theme)
        
                                            <p><p>Get the directory for a given theme.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/ViewTrait.html#method_getPathForTheme">
<abbr title="VuFindTest\Feature\ViewTrait">ViewTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testCheckContextDefaults">testCheckContextDefaults</a>()
        
                                            <p><p>Test checkContext() default behavior.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testCheckContextWithOverrides">testCheckContextWithOverrides</a>()
        
                                            <p><p>Test checkContext() behavior with configuration overrides.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testCheckContextNoUrl">testCheckContextNoUrl</a>()
        
                                            <p><p>Test checkContext() with no URL set (everything should be false!)</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testCheckExcludedRecordsRulesFalse">testCheckExcludedRecordsRulesFalse</a>()
        
                                            <p><p>Test checkExcludedRecordRules() with rule not applying (isActive() will return
TRUE!!)</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testCheckExcludedRecordsRulesTrue">testCheckExcludedRecordsRulesTrue</a>()
        
                                            <p><p>Test checkExcludedRecordRules() with matching rule (isActive() will return
FALSE!!)</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testCheckExcludedRecordsRulesFalseDueToWildcardFailure">testCheckExcludedRecordsRulesFalseDueToWildcardFailure</a>()
        
                                            <p><p>Test checkExcludedRecordRules() with no matching rule (isActive() will return
FALSE!!). Specifically we're testing the case where a method has a generic
wildcard match in the rules but returns an empty value.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testCheckSupportedRecordsRulesFalse">testCheckSupportedRecordsRulesFalse</a>()
        
                                            <p><p>Test checkSupportedRecordRules() with no matching rule (isActive() will return
FALSE!!)</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testCheckSupportedRecordsRulesWithWildcardStillFalse">testCheckSupportedRecordsRulesWithWildcardStillFalse</a>()
        
                                            <p><p>Test checkSupportedRecordRules() with no matching rule (isActive() will return
FALSE!!) This test is specifically designed to test wildcards -- we want to
be sure that ['CrazyFormat'] will NOT match ['Article', '*'].</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testCheckSupportedRecordsRulesTrue">testCheckSupportedRecordsRulesTrue</a>()
        
                                            <p><p>Test checkSupportedRecordRules() with matching rule (isActive() will return
TRUE!!)</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testRecordDriverClassInRules">testRecordDriverClassInRules</a>()
        
                                            <p><p>Test checkSupportedRecordRules() to see if it accounts for record driver
class.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../VuFind/View/Helper/Root/Context.html"><abbr title="VuFind\View\Helper\Root\Context">Context</abbr></a>
                </div>
                <div class="col-md-8">
                    <a href="#method_getMockContext">getMockContext</a>()
        
                                            <p><p>Get mock context helper.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../VuFind/RecordDriver/SolrDefault.html"><abbr title="VuFind\RecordDriver\SolrDefault">SolrDefault</abbr></a>
                </div>
                <div class="col-md-8">
                    <a href="#method_getMockDriver">getMockDriver</a>(string $openUrl = &#039;fake-data&#039;, string $class = \VuFind\RecordDriver\SolrDefault::class, array $formats = [&#039;ElectronicArticle&#039;, &#039;Article&#039;], string $issn = &#039;1234-5678&#039;)
        
                                            <p><p>Get mock driver that returns an openURL.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="VuFindTest\View\Helper\Root\OpenURL">OpenURL</abbr>
                </div>
                <div class="col-md-8">
                    <a href="#method_getOpenUrl">getOpenUrl</a>(array $rules = null, array $config = [], object $mockContext = null)
        
                                            <p><p>Get the object to test</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_getFixtureDir">
        <div class="location">in <a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixtureDir">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a> at line 51</div>
        <code>            protected        string
    <strong>getFixtureDir</strong>(string $module = &#039;VuFind&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get the base directory containing fixtures.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$module</td>
                <td><p>Module containing fixture.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFixturePath">
        <div class="location">in <a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixturePath">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a> at line 65</div>
        <code>            protected        string
    <strong>getFixturePath</strong>(string $filename, string $module = &#039;VuFind&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Resolve fixture path.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$filename</td>
                <td><p>Filename relative to fixture directory.</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$module</td>
                <td><p>Module containing fixture.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a target="_blank" rel="noopener" href="https://www.php.net/RuntimeException">RuntimeException</a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFixture">
        <div class="location">in <a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixture">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a> at line 87</div>
        <code>            protected        string
    <strong>getFixture</strong>(string $filename, string $module = &#039;VuFind&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Load a fixture file.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$filename</td>
                <td><p>Filename relative to fixture directory.</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$module</td>
                <td><p>Module containing fixture.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a target="_blank" rel="noopener" href="https://www.php.net/RuntimeException">RuntimeException</a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getJsonFixture">
        <div class="location">in <a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getJsonFixture">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a> at line 100</div>
        <code>            protected        array
    <strong>getJsonFixture</strong>(string $filename, string $module = &#039;VuFind&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Load a JSON fixture from file (using associative array return type).</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$filename</td>
                <td><p>Filename relative to fixture directory.</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$module</td>
                <td><p>Module containing fixture.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPhpRenderer">
        <div class="location">in <a href="../../../../VuFindTest/Feature/ViewTrait.html#method_getPhpRenderer">
<abbr title="VuFindTest\Feature\ViewTrait">ViewTrait</abbr></a> at line 50</div>
        <code>            protected        <abbr title="Laminas\View\Renderer\PhpRenderer">PhpRenderer</abbr>
    <strong>getPhpRenderer</strong>(array $plugins = [], string $theme = &#039;bootstrap3&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get a working renderer.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$plugins</td>
                <td><p>Custom VuFind plug-ins to register</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$theme</td>
                <td><p>Theme directory to load from</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Laminas\View\Renderer\PhpRenderer">PhpRenderer</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPathForTheme">
        <div class="location">in <a href="../../../../VuFindTest/Feature/ViewTrait.html#method_getPathForTheme">
<abbr title="VuFindTest\Feature\ViewTrait">ViewTrait</abbr></a> at line 81</div>
        <code>            protected        string
    <strong>getPathForTheme</strong>(string $theme)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get the directory for a given theme.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$theme</td>
                <td><p>Theme directory name</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCheckContextDefaults">
        <div class="location">at line 61</div>
        <code>                    void
    <strong>testCheckContextDefaults</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test checkContext() default behavior.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCheckContextWithOverrides">
        <div class="location">at line 78</div>
        <code>                    void
    <strong>testCheckContextWithOverrides</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test checkContext() behavior with configuration overrides.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCheckContextNoUrl">
        <div class="location">at line 97</div>
        <code>                    void
    <strong>testCheckContextNoUrl</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test checkContext() with no URL set (everything should be false!)</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCheckExcludedRecordsRulesFalse">
        <div class="location">at line 112</div>
        <code>                    void
    <strong>testCheckExcludedRecordsRulesFalse</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test checkExcludedRecordRules() with rule not applying (isActive() will return
TRUE!!)</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCheckExcludedRecordsRulesTrue">
        <div class="location">at line 126</div>
        <code>                    void
    <strong>testCheckExcludedRecordsRulesTrue</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test checkExcludedRecordRules() with matching rule (isActive() will return
FALSE!!)</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCheckExcludedRecordsRulesFalseDueToWildcardFailure">
        <div class="location">at line 141</div>
        <code>                    void
    <strong>testCheckExcludedRecordsRulesFalseDueToWildcardFailure</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test checkExcludedRecordRules() with no matching rule (isActive() will return
FALSE!!). Specifically we're testing the case where a method has a generic
wildcard match in the rules but returns an empty value.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCheckSupportedRecordsRulesFalse">
        <div class="location">at line 161</div>
        <code>                    void
    <strong>testCheckSupportedRecordsRulesFalse</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test checkSupportedRecordRules() with no matching rule (isActive() will return
FALSE!!)</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCheckSupportedRecordsRulesWithWildcardStillFalse">
        <div class="location">at line 176</div>
        <code>                    void
    <strong>testCheckSupportedRecordsRulesWithWildcardStillFalse</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test checkSupportedRecordRules() with no matching rule (isActive() will return
FALSE!!) This test is specifically designed to test wildcards -- we want to
be sure that ['CrazyFormat'] will NOT match ['Article', '*'].</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCheckSupportedRecordsRulesTrue">
        <div class="location">at line 195</div>
        <code>                    void
    <strong>testCheckSupportedRecordsRulesTrue</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test checkSupportedRecordRules() with matching rule (isActive() will return
TRUE!!)</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testRecordDriverClassInRules">
        <div class="location">at line 209</div>
        <code>                    void
    <strong>testRecordDriverClassInRules</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test checkSupportedRecordRules() to see if it accounts for record driver
class.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getMockContext">
        <div class="location">at line 233</div>
        <code>            protected        <a href="../../../../VuFind/View/Helper/Root/Context.html"><abbr title="VuFind\View\Helper\Root\Context">Context</abbr></a>
    <strong>getMockContext</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get mock context helper.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../VuFind/View/Helper/Root/Context.html"><abbr title="VuFind\View\Helper\Root\Context">Context</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getMockDriver">
        <div class="location">at line 249</div>
        <code>            protected        <a href="../../../../VuFind/RecordDriver/SolrDefault.html"><abbr title="VuFind\RecordDriver\SolrDefault">SolrDefault</abbr></a>
    <strong>getMockDriver</strong>(string $openUrl = &#039;fake-data&#039;, string $class = \VuFind\RecordDriver\SolrDefault::class, array $formats = [&#039;ElectronicArticle&#039;, &#039;Article&#039;], string $issn = &#039;1234-5678&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get mock driver that returns an openURL.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$openUrl</td>
                <td><p>OpenURL to return</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$class</td>
                <td><p>Class to mock</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$formats</td>
                <td><p>Formats to return from getFormats</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$issn</td>
                <td><p>ISSN to return from getCleanISSN</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../VuFind/RecordDriver/SolrDefault.html"><abbr title="VuFind\RecordDriver\SolrDefault">SolrDefault</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getOpenUrl">
        <div class="location">at line 275</div>
        <code>            protected        <abbr title="VuFindTest\View\Helper\Root\OpenURL">OpenURL</abbr>
    <strong>getOpenUrl</strong>(array $rules = null, array $config = [], object $mockContext = null)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get the object to test</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$rules</td>
                <td><p>JSON-decoded array containing rules (optional)</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$config</td>
                <td><p>Configuration settings (optional)</p></td>
            </tr>
                    <tr>
                <td>object</td>
                <td>$mockContext</td>
                <td><p>Mock context helper (optional)</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="VuFindTest\View\Helper\Root\OpenURL">OpenURL</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
            </div>

    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.</div></div>
    </div>
    </body>

</html>
