<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>VuFindTest\View\Helper\Root\RecordDataFormatterTest | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/doctum.css">
        <link rel="stylesheet" type="text/css" href="../../../../fonts/doctum-font.css">
        <script src="../../../../js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="../../../../doctum.js"></script>
        <script async defer src="../../../../js/bootstrap.min.js"></script>
        <script async defer src="../../../../js/autocomplete.min.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    </head>

    <body id="class" data-name="class:VuFindTest_View_Helper_Root_RecordDataFormatterTest" data-root-path="../../../../" data-search-index-url="../../../../doctum-search.json">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <div class="search-bar hidden" id="search-progress-bar-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" id="search-progress-bar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form id="search-form" action="../../../../search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   id="doctum-search-auto-complete"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search"
                   spellcheck="false"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off">
            <div class="auto-complete-results" id="auto-complete-results"></div>
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                    <li><a href="../../../../namespaces.html">Namespaces</a></li>
                    <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../../../VuFindTest.html">VuFindTest</a></li><li class="backslash">\</li><li><a href="../../../../VuFindTest/View.html">View</a></li><li class="backslash">\</li><li><a href="../../../../VuFindTest/View/Helper.html">Helper</a></li><li class="backslash">\</li><li><a href="../../../../VuFindTest/View/Helper/Root.html">Root</a></li><li class="backslash">\</li><li>RecordDataFormatterTest</li>
            </ol>
        </div>
                <div id="page-content">
    <div class="page-header">
        <h1>RecordDataFormatterTest    
            </h1>
    </div>

    
    <p>        class
    <strong>RecordDataFormatterTest</strong>        extends <abbr title="PHPUnit\Framework\TestCase">TestCase</abbr>
</p>

                <p>
                                                <span class="label label-default">VuFind</span>
                                    </p>
    
        
    
        

            <div class="description">
            <p><p>RecordDataFormatter Test Class</p></p>                    </div>
            
                <h2>Traits</h2>

        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../../VuFindTest/Feature/FixtureTrait.html"><abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a>    </div>
                <div class="col-md-6"><p>Trait adding functionality for loading fixtures.</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../../VuFindTest/Feature/ViewTrait.html"><abbr title="VuFindTest\Feature\ViewTrait">ViewTrait</abbr></a>    </div>
                <div class="col-md-6"><p>Trait for tests involving Laminas Views.</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../../VuFindTest/Feature/PathResolverTrait.html"><abbr title="VuFindTest\Feature\PathResolverTrait">PathResolverTrait</abbr></a>    </div>
                <div class="col-md-6"><p>Trait for tests involving PathResolver.</p></div>
            </div>
            </div>
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getFixtureDir">getFixtureDir</a>(string $module = &#039;VuFind&#039;)
        
                                            <p><p>Get the base directory containing fixtures.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixtureDir">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getFixturePath">getFixturePath</a>(string $filename, string $module = &#039;VuFind&#039;)
        
                                            <p><p>Resolve fixture path.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixturePath">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getFixture">getFixture</a>(string $filename, string $module = &#039;VuFind&#039;)
        
                                            <p><p>Load a fixture file.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixture">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getJsonFixture">getJsonFixture</a>(string $filename, string $module = &#039;VuFind&#039;)
        
                                            <p><p>Load a JSON fixture from file (using associative array return type).</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getJsonFixture">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Laminas\View\Renderer\PhpRenderer">PhpRenderer</abbr>
                </div>
                <div class="col-md-8">
                    <a href="#method_getPhpRenderer">getPhpRenderer</a>(array $plugins = [], string $theme = &#039;bootstrap3&#039;)
        
                                            <p><p>Get a working renderer.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/ViewTrait.html#method_getPhpRenderer">
<abbr title="VuFindTest\Feature\ViewTrait">ViewTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getPathForTheme">getPathForTheme</a>(string $theme)
        
                                            <p><p>Get the directory for a given theme.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/ViewTrait.html#method_getPathForTheme">
<abbr title="VuFindTest\Feature\ViewTrait">ViewTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../VuFind/Config/PathResolver.html"><abbr title="VuFind\Config\PathResolver">PathResolver</abbr></a>
                </div>
                <div class="col-md-8">
                    <a href="#method_getPathResolver">getPathResolver</a>(string|null $baseDirectory = null)
        
                                            <p><p>Get a config file path resolver</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/PathResolverTrait.html#method_getPathResolver">
<abbr title="VuFindTest\Feature\PathResolverTrait">PathResolverTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_addPathResolverToContainer">addPathResolverToContainer</a>(<a href="../../../../VuFindTest/Container/MockContainer.html"><abbr title="VuFindTest\Container\MockContainer">MockContainer</abbr></a> $container)
        
                                            <p><p>Add PathResolverFactory to a mock container</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../VuFindTest/Feature/PathResolverTrait.html#method_addPathResolverToContainer">
<abbr title="VuFindTest\Feature\PathResolverTrait">PathResolverTrait</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../VuFind/Record/Router.html"><abbr title="VuFind\Record\Router">Router</abbr></a>
                </div>
                <div class="col-md-8">
                    <a href="#method_getMockRecordRouter">getMockRecordRouter</a>()
        
                                            <p><p>Get a mock record router.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getViewHelpers">getViewHelpers</a>(<abbr title="Psr\Container\ContainerInterface">ContainerInterface</abbr> $container)
        
                                            <p><p>Get view helpers needed by test.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="VuFindTest\View\Helper\Root\SolrDefault">SolrDefault</abbr>
                </div>
                <div class="col-md-8">
                    <a href="#method_getDriver">getDriver</a>(array $overrides = [])
        
                                            <p><p>Get a record driver with fake data.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../VuFind/View/Helper/Root/RecordDataFormatter.html"><abbr title="VuFind\View\Helper\Root\RecordDataFormatter">RecordDataFormatter</abbr></a>
                </div>
                <div class="col-md-8">
                    <a href="#method_getFormatter">getFormatter</a>()
        
                                            <p><p>Build a formatter, including necessary mock view w/ helpers.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8">
                    <a href="#method_findResult">findResult</a>(string $needle, array $haystack)
        
                                            <p><p>Find a result in the results array.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getLabels">getLabels</a>(array $results)
        
                                            <p><p>Extract labels from a results array.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getFormattingData">getFormattingData</a>()
        
                                            <p><p>Data Provider for testFormatting().</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_testFormatting">testFormatting</a>(string $function)
        
                                            <p><p>Test formatting.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getInvokedSpecs">getInvokedSpecs</a>(<abbr title="VuFindTest\View\Helper\Root\SolrDefault">SolrDefault</abbr> $driver, array $spec)
        
                                            <p><p>Invokes a RecordDataFormatter with a driver and returns getData results.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getOldSpecs">getOldSpecs</a>(<abbr title="VuFindTest\View\Helper\Root\SolrDefault">SolrDefault</abbr> $driver, array $spec)
        
                                            <p><p>Calls RecordDataFormatter::getData with a driver as parameter and returns the results.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_getFixtureDir">
        <div class="location">in <a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixtureDir">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a> at line 51</div>
        <code>            protected        string
    <strong>getFixtureDir</strong>(string $module = &#039;VuFind&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get the base directory containing fixtures.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$module</td>
                <td><p>Module containing fixture.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFixturePath">
        <div class="location">in <a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixturePath">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a> at line 65</div>
        <code>            protected        string
    <strong>getFixturePath</strong>(string $filename, string $module = &#039;VuFind&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Resolve fixture path.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$filename</td>
                <td><p>Filename relative to fixture directory.</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$module</td>
                <td><p>Module containing fixture.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a target="_blank" rel="noopener" href="https://www.php.net/RuntimeException">RuntimeException</a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFixture">
        <div class="location">in <a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getFixture">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a> at line 87</div>
        <code>            protected        string
    <strong>getFixture</strong>(string $filename, string $module = &#039;VuFind&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Load a fixture file.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$filename</td>
                <td><p>Filename relative to fixture directory.</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$module</td>
                <td><p>Module containing fixture.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a target="_blank" rel="noopener" href="https://www.php.net/RuntimeException">RuntimeException</a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getJsonFixture">
        <div class="location">in <a href="../../../../VuFindTest/Feature/FixtureTrait.html#method_getJsonFixture">
<abbr title="VuFindTest\Feature\FixtureTrait">FixtureTrait</abbr></a> at line 100</div>
        <code>            protected        array
    <strong>getJsonFixture</strong>(string $filename, string $module = &#039;VuFind&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Load a JSON fixture from file (using associative array return type).</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$filename</td>
                <td><p>Filename relative to fixture directory.</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$module</td>
                <td><p>Module containing fixture.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPhpRenderer">
        <div class="location">in <a href="../../../../VuFindTest/Feature/ViewTrait.html#method_getPhpRenderer">
<abbr title="VuFindTest\Feature\ViewTrait">ViewTrait</abbr></a> at line 50</div>
        <code>            protected        <abbr title="Laminas\View\Renderer\PhpRenderer">PhpRenderer</abbr>
    <strong>getPhpRenderer</strong>(array $plugins = [], string $theme = &#039;bootstrap3&#039;)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get a working renderer.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$plugins</td>
                <td><p>Custom VuFind plug-ins to register</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$theme</td>
                <td><p>Theme directory to load from</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Laminas\View\Renderer\PhpRenderer">PhpRenderer</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPathForTheme">
        <div class="location">in <a href="../../../../VuFindTest/Feature/ViewTrait.html#method_getPathForTheme">
<abbr title="VuFindTest\Feature\ViewTrait">ViewTrait</abbr></a> at line 81</div>
        <code>            protected        string
    <strong>getPathForTheme</strong>(string $theme)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get the directory for a given theme.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$theme</td>
                <td><p>Theme directory name</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPathResolver">
        <div class="location">in <a href="../../../../VuFindTest/Feature/PathResolverTrait.html#method_getPathResolver">
<abbr title="VuFindTest\Feature\PathResolverTrait">PathResolverTrait</abbr></a> at line 51</div>
        <code>            protected        <a href="../../../../VuFind/Config/PathResolver.html"><abbr title="VuFind\Config\PathResolver">PathResolver</abbr></a>
    <strong>getPathResolver</strong>(string|null $baseDirectory = null)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get a config file path resolver</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string|null</td>
                <td>$baseDirectory</td>
                <td><p>Optional directory to override APPLICATION_PATH</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../VuFind/Config/PathResolver.html"><abbr title="VuFind\Config\PathResolver">PathResolver</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addPathResolverToContainer">
        <div class="location">in <a href="../../../../VuFindTest/Feature/PathResolverTrait.html#method_addPathResolverToContainer">
<abbr title="VuFindTest\Feature\PathResolverTrait">PathResolverTrait</abbr></a> at line 77</div>
        <code>            protected        void
    <strong>addPathResolverToContainer</strong>(<a href="../../../../VuFindTest/Container/MockContainer.html"><abbr title="VuFindTest\Container\MockContainer">MockContainer</abbr></a> $container)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Add PathResolverFactory to a mock container</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../VuFindTest/Container/MockContainer.html"><abbr title="VuFindTest\Container\MockContainer">MockContainer</abbr></a></td>
                <td>$container</td>
                <td><p>Mock Container</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getMockRecordRouter">
        <div class="location">at line 54</div>
        <code>            protected        <a href="../../../../VuFind/Record/Router.html"><abbr title="VuFind\Record\Router">Router</abbr></a>
    <strong>getMockRecordRouter</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get a mock record router.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../VuFind/Record/Router.html"><abbr title="VuFind\Record\Router">Router</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getViewHelpers">
        <div class="location">at line 72</div>
        <code>            protected        array
    <strong>getViewHelpers</strong>(<abbr title="Psr\Container\ContainerInterface">ContainerInterface</abbr> $container)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get view helpers needed by test.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Psr\Container\ContainerInterface">ContainerInterface</abbr></td>
                <td>$container</td>
                <td><p>Mock service container</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getDriver">
        <div class="location">at line 107</div>
        <code>            protected        <abbr title="VuFindTest\View\Helper\Root\SolrDefault">SolrDefault</abbr>
    <strong>getDriver</strong>(array $overrides = [])
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get a record driver with fake data.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$overrides</td>
                <td><p>Fixture fields to override.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="VuFindTest\View\Helper\Root\SolrDefault">SolrDefault</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFormatter">
        <div class="location">at line 145</div>
        <code>            protected        <a href="../../../../VuFind/View/Helper/Root/RecordDataFormatter.html"><abbr title="VuFind\View\Helper\Root\RecordDataFormatter">RecordDataFormatter</abbr></a>
    <strong>getFormatter</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Build a formatter, including necessary mock view w/ helpers.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../VuFind/View/Helper/Root/RecordDataFormatter.html"><abbr title="VuFind\View\Helper\Root\RecordDataFormatter">RecordDataFormatter</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_findResult">
        <div class="location">at line 185</div>
        <code>            protected        mixed
    <strong>findResult</strong>(string $needle, array $haystack)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Find a result in the results array.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$needle</td>
                <td><p>Result to look up.</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$haystack</td>
                <td><p>Result set.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLabels">
        <div class="location">at line 202</div>
        <code>            protected        array
    <strong>getLabels</strong>(array $results)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Extract labels from a results array.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$results</td>
                <td><p>Results to process.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFormattingData">
        <div class="location">at line 215</div>
        <code>                    array
    <strong>getFormattingData</strong>()
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Data Provider for testFormatting().</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testFormatting">
        <div class="location">at line 236</div>
        <code>                    void
    <strong>testFormatting</strong>(string $function)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Test formatting.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$function</td>
                <td><p>Function to test the formatting with.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getInvokedSpecs">
        <div class="location">at line 400</div>
        <code>            protected        array
    <strong>getInvokedSpecs</strong>(<abbr title="VuFindTest\View\Helper\Root\SolrDefault">SolrDefault</abbr> $driver, array $spec)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Invokes a RecordDataFormatter with a driver and returns getData results.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="VuFindTest\View\Helper\Root\SolrDefault">SolrDefault</abbr></td>
                <td>$driver</td>
                <td><p>Driver to invoke with.</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$spec</td>
                <td><p>Specifications to test with.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td><p>Results from RecordDataFormatter::getData</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getOldSpecs">
        <div class="location">at line 414</div>
        <code>            protected        array
    <strong>getOldSpecs</strong>(<abbr title="VuFindTest\View\Helper\Root\SolrDefault">SolrDefault</abbr> $driver, array $spec)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Calls RecordDataFormatter::getData with a driver as parameter and returns the results.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="VuFindTest\View\Helper\Root\SolrDefault">SolrDefault</abbr></td>
                <td>$driver</td>
                <td><p>Driver to call with.</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$spec</td>
                <td><p>Specifications to test with.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td><p>Results from RecordDataFormatter::getData</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
            </div>

    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.</div></div>
    </div>
    </body>

</html>
