<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>VuFindTest\View\Helper\Root | API</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/doctum.css">
        <link rel="stylesheet" type="text/css" href="../../../fonts/doctum-font.css">
        <script src="../../../js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="../../../doctum.js"></script>
        <script async defer src="../../../js/bootstrap.min.js"></script>
        <script async defer src="../../../js/autocomplete.min.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    </head>

    <body id="namespace" data-name="namespace:VuFindTest_View_Helper_Root" data-root-path="../../../" data-search-index-url="../../../doctum-search.json">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <div class="search-bar hidden" id="search-progress-bar-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" id="search-progress-bar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form id="search-form" action="../../../search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   id="doctum-search-auto-complete"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search"
                   spellcheck="false"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off">
            <div class="auto-complete-results" id="auto-complete-results"></div>
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                    <li><a href="../../../namespaces.html">Namespaces</a></li>
                    <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                <div class="namespace-breadcrumbs">
        <ol class="breadcrumb">
            <li><span class="label label-default">Namespace</span></li>
                    <li><a href="../../../VuFindTest.html">VuFindTest</a></li><li class="backslash">\</li><li><a href="../../../VuFindTest/View.html">View</a></li><li class="backslash">\</li><li><a href="../../../VuFindTest/View/Helper.html">Helper</a></li><li class="backslash">\</li><li><a href="../../../VuFindTest/View/Helper/Root.html">Root</a></li><li class="backslash">\</li>
        </ol>
    </div>
            <div id="page-content">
    <div class="page-header">
        <h1>VuFindTest\View\Helper\Root</h1>
    </div>

            <h2>Namespaces</h2>
        <div class="namespace-list">
            <a href="../../../VuFindTest/View/Helper/Root/RecordDataFormatter.html">VuFindTest\View\Helper\Root\RecordDataFormatter</a>        </div>
    
            <h2>Classes</h2>
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/AlphaBrowseTest.html"><abbr title="VuFindTest\View\Helper\Root\AlphaBrowseTest">AlphaBrowseTest</abbr></a>    </div>
                <div class="col-md-6"><p>AlphaBrowse view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/CartTest.html"><abbr title="VuFindTest\View\Helper\Root\CartTest">CartTest</abbr></a>    </div>
                <div class="col-md-6"><p>Cart view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/CitationTest.html"><abbr title="VuFindTest\View\Helper\Root\CitationTest">CitationTest</abbr></a>    </div>
                <div class="col-md-6"><p>CitationBuilder Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/ComponentTest.html"><abbr title="VuFindTest\View\Helper\Root\ComponentTest">ComponentTest</abbr></a>    </div>
                <div class="col-md-6"><p>Component Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/ContentTest.html"><abbr title="VuFindTest\View\Helper\Root\ContentTest">ContentTest</abbr></a>    </div>
                <div class="col-md-6"><p>Content View Helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/CookieConsentTest.html"><abbr title="VuFindTest\View\Helper\Root\CookieConsentTest">CookieConsentTest</abbr></a>    </div>
                <div class="col-md-6"><p>Cookie Consent View Helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/CspTest.html"><abbr title="VuFindTest\View\Helper\Root\CspTest">CspTest</abbr></a>    </div>
                <div class="col-md-6"><p>Csp View Helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/CurrencyFormatterTest.html"><abbr title="VuFindTest\View\Helper\Root\CurrencyFormatterTest">CurrencyFormatterTest</abbr></a>    </div>
                <div class="col-md-6"><p>CurrencyFormatter Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/FlashmessagesTest.html"><abbr title="VuFindTest\View\Helper\Root\FlashmessagesTest">FlashmessagesTest</abbr></a>    </div>
                <div class="col-md-6"><p>Flashmessages View Helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/GoogleAnalyticsTest.html"><abbr title="VuFindTest\View\Helper\Root\GoogleAnalyticsTest">GoogleAnalyticsTest</abbr></a>    </div>
                <div class="col-md-6"><p>GoogleAnalytics view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/GoogleTagManagerTest.html"><abbr title="VuFindTest\View\Helper\Root\GoogleTagManagerTest">GoogleTagManagerTest</abbr></a>    </div>
                <div class="col-md-6"><p>GoogleTagManager view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/HelpTextTest.html"><abbr title="VuFindTest\View\Helper\Root\HelpTextTest">HelpTextTest</abbr></a>    </div>
                <div class="col-md-6"><p>HelpText View Helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/HoldingsTest.html"><abbr title="VuFindTest\View\Helper\Root\HoldingsTest">HoldingsTest</abbr></a>    </div>
                <div class="col-md-6"><p>Holdings view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/IconTest.html"><abbr title="VuFindTest\View\Helper\Root\IconTest">IconTest</abbr></a>    </div>
                <div class="col-md-6"><p>Icon View Helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/JsTranslationsTest.html"><abbr title="VuFindTest\View\Helper\Root\JsTranslationsTest">JsTranslationsTest</abbr></a>    </div>
                <div class="col-md-6"><p>ShortenUrl view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/LinkifyTest.html"><abbr title="VuFindTest\View\Helper\Root\LinkifyTest">LinkifyTest</abbr></a>    </div>
                <div class="col-md-6"><p>Linkify Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/MakeLinkTest.html"><abbr title="VuFindTest\View\Helper\Root\MakeLinkTest">MakeLinkTest</abbr></a>    </div>
                <div class="col-md-6"><p>makeLink view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/MakeTagTest.html"><abbr title="VuFindTest\View\Helper\Root\MakeTagTest">MakeTagTest</abbr></a>    </div>
                <div class="col-md-6"><p>makeTag view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/MarkdownTest.html"><abbr title="VuFindTest\View\Helper\Root\MarkdownTest">MarkdownTest</abbr></a>    </div>
                <div class="col-md-6"><p>MArkdown Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/MetadataTest.html"><abbr title="VuFindTest\View\Helper\Root\MetadataTest">MetadataTest</abbr></a>    </div>
                <div class="col-md-6"><p>Metadata Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/OpenUrlTest.html"><abbr title="VuFindTest\View\Helper\Root\OpenUrlTest">OpenUrlTest</abbr></a>    </div>
                <div class="col-md-6"><p>OpenUrl Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/PermissionTest.html"><abbr title="VuFindTest\View\Helper\Root\PermissionTest">PermissionTest</abbr></a>    </div>
                <div class="col-md-6"><p>Permission view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/RecordDataFormatterTest.html"><abbr title="VuFindTest\View\Helper\Root\RecordDataFormatterTest">RecordDataFormatterTest</abbr></a>    </div>
                <div class="col-md-6"><p>RecordDataFormatter Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/RecordLinkerTest.html"><abbr title="VuFindTest\View\Helper\Root\RecordLinkerTest">RecordLinkerTest</abbr></a>    </div>
                <div class="col-md-6"><p>RecordLinker view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/RecordTest.html"><abbr title="VuFindTest\View\Helper\Root\RecordTest">RecordTest</abbr></a>    </div>
                <div class="col-md-6"><p>Record view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/SafeMoneyFormatTest.html"><abbr title="VuFindTest\View\Helper\Root\SafeMoneyFormatTest">SafeMoneyFormatTest</abbr></a>    </div>
                <div class="col-md-6"><p>SafeMoneyFormat view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/SearchMemoryTest.html"><abbr title="VuFindTest\View\Helper\Root\SearchMemoryTest">SearchMemoryTest</abbr></a>    </div>
                <div class="col-md-6"><p>SearchMemory view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/SearchTabsTest.html"><abbr title="VuFindTest\View\Helper\Root\SearchTabsTest">SearchTabsTest</abbr></a>    </div>
                <div class="col-md-6"><p>SearchTabs view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/ShortenUrlTest.html"><abbr title="VuFindTest\View\Helper\Root\ShortenUrlTest">ShortenUrlTest</abbr></a>    </div>
                <div class="col-md-6"><p>ShortenUrl view helper Test Class</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/TranslateTest.html"><abbr title="VuFindTest\View\Helper\Root\TranslateTest">TranslateTest</abbr></a>    </div>
                <div class="col-md-6"><p>Translate view helper Test Class (and by extension, the TranslatorAwareTrait)</p></div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                    <a href="../../../VuFindTest/View/Helper/Root/TranslationEmptyTest.html"><abbr title="VuFindTest\View\Helper\Root\TranslationEmptyTest">TranslationEmptyTest</abbr></a>    </div>
                <div class="col-md-6"><p>TranslationEmpty view helper Test Class</p></div>
            </div>
            </div>
    
    
    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.</div></div>
    </div>
    </body>

</html>
