<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>VuFind\View\Helper\Root\RecordDataFormatter | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/doctum.css">
        <link rel="stylesheet" type="text/css" href="../../../../fonts/doctum-font.css">
        <script src="../../../../js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="../../../../doctum.js"></script>
        <script async defer src="../../../../js/bootstrap.min.js"></script>
        <script async defer src="../../../../js/autocomplete.min.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    </head>

    <body id="class" data-name="class:VuFind_View_Helper_Root_RecordDataFormatter" data-root-path="../../../../" data-search-index-url="../../../../doctum-search.json">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <div class="search-bar hidden" id="search-progress-bar-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" id="search-progress-bar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form id="search-form" action="../../../../search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   id="doctum-search-auto-complete"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search"
                   spellcheck="false"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off">
            <div class="auto-complete-results" id="auto-complete-results"></div>
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                    <li><a href="../../../../namespaces.html">Namespaces</a></li>
                    <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../../../VuFind.html">VuFind</a></li><li class="backslash">\</li><li><a href="../../../../VuFind/View.html">View</a></li><li class="backslash">\</li><li><a href="../../../../VuFind/View/Helper.html">Helper</a></li><li class="backslash">\</li><li><a href="../../../../VuFind/View/Helper/Root.html">Root</a></li><li class="backslash">\</li><li>RecordDataFormatter</li>
            </ol>
        </div>
                <div id="page-content">
    <div class="page-header">
        <h1>RecordDataFormatter    
            </h1>
    </div>

    
    <p>        class
    <strong>RecordDataFormatter</strong>        extends <abbr title="Laminas\View\Helper\AbstractHelper">AbstractHelper</abbr>
</p>

                <p>
                                                <span class="label label-default">VuFind</span>
                                    </p>
    
        
    
        

            <div class="description">
            <p><p>Record driver data formatting view helper</p></p>                    </div>
            
        
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_defaults">
                                        protected                                        array
                                                                                
                                    </td>
                <td>$defaults</td>
                <td class="last"><p>Default settings.</p></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_driver">
                                        protected                                        <a href="../../../../VuFind/RecordDriver/AbstractBase.html"><abbr title="VuFind\RecordDriver\AbstractBase">AbstractBase</abbr></a>
                                                                                
                                    </td>
                <td>$driver</td>
                <td class="last"><p>Record driver object.</p></td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../VuFind/View/Helper/Root/RecordDataFormatter.html"><abbr title="VuFind\View\Helper\Root\RecordDataFormatter">RecordDataFormatter</abbr></a>
                </div>
                <div class="col-md-8">
                    <a href="#method___invoke">__invoke</a>(<a href="../../../../VuFind/RecordDriver/AbstractBase.html"><abbr title="VuFind\RecordDriver\AbstractBase">AbstractBase</abbr></a> $driver = null)
        
                                            <p><p>Store a record driver object and return this object so that the appropriate
data can be rendered.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    int
                </div>
                <div class="col-md-8">
                    <a href="#method_sortCallback">sortCallback</a>(array $a, array $b)
        
                                            <p><p>Sort callback for field specification.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8">
                    <a href="#method_allowValue">allowValue</a>(mixed $value, array $options)
        
                                            <p><p>Should we allow a value? (Always accepts non-empty values; for empty
values, allows zero when configured to do so).</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_render">render</a>(string $field, mixed $data, array $options)
        
                                            <p><p>Return rendered text (or null if nothing to render).</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getData">getData</a>(array ...$args)
        
                                            <p><p>Create formatted key/value data based on a record driver and field spec.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getDefaults">getDefaults</a>(string $key)
        
                                            <p><p>Get default configuration.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setDefaults">setDefaults</a>(string $key, array|callable $values)
        
                                            <p><p>Set default configuration.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8">
                    <a href="#method_extractData">extractData</a>(array $options)
        
                                            <p><p>Extract data (usually from the record driver).</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_renderMulti">renderMulti</a>(mixed $data, array $options)
        
                                            <p><p>Render multiple lines for a single set of data.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_renderRecordHelper">renderRecordHelper</a>(mixed $data, array $options)
        
                                            <p><p>Render using the record view helper.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_renderRecordDriverTemplate">renderRecordDriverTemplate</a>(mixed $data, array $options)
        
                                            <p><p>Render a record driver template.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string|bool
                </div>
                <div class="col-md-8">
                    <a href="#method_getLink">getLink</a>(string $value, array $options)
        
                                            <p><p>Get a link associated with a value, or else return false if link does
not apply.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_renderSimple">renderSimple</a>(mixed $data, array $options)
        
                                            <p><p>Simple rendering method.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method___invoke">
        <div class="location">at line 70</div>
        <code>                    <a href="../../../../VuFind/View/Helper/Root/RecordDataFormatter.html"><abbr title="VuFind\View\Helper\Root\RecordDataFormatter">RecordDataFormatter</abbr></a>
    <strong>__invoke</strong>(<a href="../../../../VuFind/RecordDriver/AbstractBase.html"><abbr title="VuFind\RecordDriver\AbstractBase">AbstractBase</abbr></a> $driver = null)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Store a record driver object and return this object so that the appropriate
data can be rendered.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../VuFind/RecordDriver/AbstractBase.html"><abbr title="VuFind\RecordDriver\AbstractBase">AbstractBase</abbr></a></td>
                <td>$driver</td>
                <td><p>Record driver object.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../VuFind/View/Helper/Root/RecordDataFormatter.html"><abbr title="VuFind\View\Helper\Root\RecordDataFormatter">RecordDataFormatter</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_sortCallback">
        <div class="location">at line 84</div>
        <code>            protected        int
    <strong>sortCallback</strong>(array $a, array $b)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Sort callback for field specification.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$a</td>
                <td><p>First value to compare</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$b</td>
                <td><p>Second value to compare</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>int</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_allowValue">
        <div class="location">at line 101</div>
        <code>            protected        bool
    <strong>allowValue</strong>(mixed $value, array $options)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Should we allow a value? (Always accepts non-empty values; for empty
values, allows zero when configured to do so).</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td><p>Data to check for zero value.</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td><p>Rendering options.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_render">
        <div class="location">at line 119</div>
        <code>            protected        array
    <strong>render</strong>(string $field, mixed $data, array $options)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Return rendered text (or null if nothing to render).</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$field</td>
                <td><p>Field being rendered (i.e. default label)</p></td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$data</td>
                <td><p>Data to render</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td><p>Rendering options</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getData">
        <div class="location">at line 164</div>
        <code>                    array
    <strong>getData</strong>(array ...$args)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Create formatted key/value data based on a record driver and field spec.</p></p>                <p><p>The first argument can be a descendant of RecordDriver.
If omitted, then invoke this class with the desired driver.
The second or first argument is an array containing formatting specifications.</p></p>        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>...$args</td>
                <td><p>Record driver object and/or formatting specifications.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getDefaults">
        <div class="location">at line 201</div>
        <code>                    array
    <strong>getDefaults</strong>(string $key)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get default configuration.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$key</td>
                <td><p>Key for configuration to look up.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setDefaults">
        <div class="location">at line 227</div>
        <code>                    void
    <strong>setDefaults</strong>(string $key, array|callable $values)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Set default configuration.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$key</td>
                <td><p>Key for configuration to set.</p></td>
            </tr>
                    <tr>
                <td>array|callable</td>
                <td>$values</td>
                <td><p>Defaults to store (either an array, or a
callable returning an array).</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_extractData">
        <div class="location">at line 242</div>
        <code>            protected        mixed
    <strong>extractData</strong>(array $options)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Extract data (usually from the record driver).</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td><p>Incoming options</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_renderMulti">
        <div class="location">at line 281</div>
        <code>            protected        array
    <strong>renderMulti</strong>(mixed $data, array $options)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Render multiple lines for a single set of data.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$data</td>
                <td><p>Data to render</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td><p>Rendering options.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_renderRecordHelper">
        <div class="location">at line 319</div>
        <code>            protected        string
    <strong>renderRecordHelper</strong>(mixed $data, array $options)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Render using the record view helper.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$data</td>
                <td><p>Data to render</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td><p>Rendering options.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_renderRecordDriverTemplate">
        <div class="location">at line 339</div>
        <code>            protected        string
    <strong>renderRecordDriverTemplate</strong>(mixed $data, array $options)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Render a record driver template.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$data</td>
                <td><p>Data to render</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td><p>Rendering options.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLink">
        <div class="location">at line 364</div>
        <code>            protected        string|bool
    <strong>getLink</strong>(string $value, array $options)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Get a link associated with a value, or else return false if link does
not apply.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$value</td>
                <td><p>Value associated with link.</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td><p>Rendering options.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string|bool</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_renderSimple">
        <div class="location">at line 383</div>
        <code>            protected        string
    <strong>renderSimple</strong>(mixed $data, array $options)
        </code>
    </h3>
    <div class="details">    
            
    
            

        <div class="method-description">
                            <p><p>Simple rendering method.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$data</td>
                <td><p>Data to render</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td><p>Rendering options.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
            </div>

    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.</div></div>
    </div>
    </body>

</html>
